[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/osahtout
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/osahtout
	label-Verified = -1..+1 group user/osahtout
	push = group user/osahtout
	read = group user/osahtout
	rebase = group user/osahtout
	removeReviewer = group user/osahtout
	submit = group user/osahtout
[access "refs/heads/*"]
	create = group user/osahtout
	push = +force group user/osahtout
	pushMerge = group user/osahtout
	read = group user/osahtout
[access "refs/tags/*"]
	push = group user/osahtout
	push = +force group user/osahtout
